{% extends "base_out.html" %}
{% load static %}
{% block titulo %}Donación{% endblock  %}
{% block content_out %}
<video id="bgvid" playsinline autoplay muted loop>
	<source src="{% static 'imgs/soli.mp4'%}" type="video/mp4">
</video>
<div id="polina">
	<h1>AYÚDANOS</h1>
	<p >
		<p class="TextD" align="justify">Los programas llevados a cabo por nuestra organización como ser: El Centro Nutricional Solidario (CNS) en la Montaña El Izopo y en el Hospital General en Tegucigalpa (Materno Infanil) son realizados mediante la donacion por parte de donadores anónimos y algunos patrocinadores.</p>
		<p class="TextD" align="justify">Tú Puedes ser un donador para nuestra organización dando un granito de arena, para poder seguir ayudando de corazón, ayúdanos a cumplir nuestro objetivo de erradicar la malnutrición infantil en Honduras.</p>
		<p class="TextD" align="justify">Con un Lps. 1 diario puedes ayudar a esta gran obra de amor, puedes abocarte a las entidades bancarias en las cuales existe una cuenta bancaria de nuestra organización o realizar una donación en linea mediante nuestro portal de abrassos.</p>
		<br>
		<a href="https://www.abrassos.org/home" target="_Blank" class="btn btn-primary TextD">Donación en Linea</a>
	</p>
</div>
<div class="cuentas">
	<img class="imgC" src="{% static 'imgs/banatlan.png' %}" alt="..." >
	<h4>1-10025351-5</h4>
	<img class="imgC" src="{% static 'imgs/banatlan.png' %}" alt="..." >
	<h4>1-10023186-7</h4>
	<img class="imgC" src="{% static 'imgs/bac.png' %}" alt="..." >
	<h4>100100100</h4>
	<img class="imgC" src="{% static 'imgs/promerica.png' %}" alt="..." >
	<h4> 6-457213</h4>
</div>
{% endblock  %}
{% block script %}
	<script>
		$(function(){
			$('.rectangulo').hide();
		});
	</script>
{% endblock %}
