{% extends "base_out.html" %}
{% block titulo %}Donde Estamos{% endblock  %}
{% load static %}
{% block content_out %}
<div class="nav2">
  <ul class="menuS">
    <li><a href="#Extension"><strong>Mapa</strong></a></li>
    <li><a href="#Choluteca"><strong>Choluteca</strong></a></li>
    <li><a href="#FranciscoMorazan"><strong>Francisco Morazan</strong></a></li>
    <li><a href="#Comayagua"><strong>Comayagua </strong></a></li>
    <li><a href="#ProximasExtenciones"><strong>Proximas Extensiones</strong></a></li>
  </ul>
</div>
  <ul class="nav3">
    <li><p class="etiqueta1"></p><a class="o1" href="#Extension"></a></li>
    <li><p class="etiqueta2"></p><a class="o2" href="#Choluteca"></a></li>
    <li><p class="etiqueta3"></p><a class="o3" href="#FranciscoMorazan"></a></li>
    <li><p class="etiqueta4"></p><a class="o4" href="#Comayagua"></a></li>
    <li><p class="etiqueta5"></p><a class="o5" href="#ProximasExtenciones"></a></li>
  </ul>
  <div id="Extension" class="mapa">
    <h2 class="TitExp">Nuestra Expansión</h2>
    <br>
    
    <img id="FM" style="position: absolute" class="FcoMorazan" src="{% static 'imgs/fm.png' %}" alt="">
    <img style="position: absolute" class="Olancho PE" src="{% static 'imgs/olancho.png' %}" alt="">
    <img style="position: absolute" class="Paraiso PE"  src="{% static 'imgs/paraiso.png' %}" alt="">
    <img id="CH" style="position: absolute" class="Choluteca" src="{% static 'imgs/choluteca.png' %}" alt="">
    <img style="position: absolute" class="SantaBarbara PE" src="{% static 'imgs/SantaBarbara.png' %}" alt="">
    <img style="position: absolute" class="Cortes PE" src="{% static 'imgs/Cortes.png' %}" alt="">
    <img style="position: absolute" class="Atlantida PE" src="{% static 'imgs/Atlantida.png' %}" alt="">
    <img style="position: absolute" class="Yoro PE" src="{% static 'imgs/yoro.png' %}" alt="">
    <img style="position: absolute" class="Colon PE" src="{% static 'imgs/colon.png' %}" alt="">
    <img style="position: absolute" class="GraciasaDios PE" src="{% static 'imgs/GraciasaDios.png' %}" alt="">
    <img style="position: absolute" class="Copan PE" src="{% static 'imgs/copan.png' %}" alt="">
    <img style="position: absolute" class="Ocotepeque PE" src="{% static 'imgs/ocotepeque.png' %}" alt="">
    <img style="position: absolute" class="Lempira PE" src="{% static 'imgs/lempira.png' %}" alt="">
    <img style="position: absolute" class="Intibuca PE" src="{% static 'imgs/intibuca.png' %}" alt="">
    <img style="position: absolute" class="LaPaz PE" src="{% static 'imgs/lapaz.png' %}" alt="">
    <img style="position: absolute" class="Isla PE" src="{% static 'imgs/islas.png' %}" alt="">
    <img id="CO" style="position: absolute" class="Comayagua" src="{% static 'imgs/comayagua.png' %}" alt="">
    <img style="position: absolute" class="Valle PE" src="{% static 'imgs/valle.png' %}" alt="">
  </div>

  <div id="Extension" class="MapaM">
     <h2 class="TitExp">Nuestra Expansión</h2>
    <br>
    <img id="MMovil" src="{% static 'imgs/MapaMovil.png' %}" alt="">
  </div>
  <div class="mapaImage">
    <figure class="snip1566">
      <img src="{% static 'imgs/IC1.jpg' %}" />
      <figcaption><i class="ion-android-add"></i></figcaption>
      
    </figure>
    <figure class="snip1566"><img src="{% static 'imgs/IC2.jpg' %}" alt="sq-sample17" />
      <figcaption><i class="ion-android-open"></i></figcaption>
      
    </figure>
    <figure class="snip1566"><img src="{% static 'imgs/IC3.jpg' %}" alt="sq-sample19" />
      <figcaption><i class="ion-android-star-outline"></i></figcaption>
      
    </figure>
    <figure class="snip1566"><img src="{% static 'imgs/IC4.jpg' %}" alt="sq-sample20" />
      <figcaption><i class="ion-android-stopwatch"></i></figcaption>
    </figure>
  </div>

  <div id="Choluteca" class="jumbotron">
    <article class="DCholuteca">
      <br><br><br><br><br><br>
      <section class="CHDatos">
        <p ALIGN="justify">Los voluntarios de solidaridad de Choluteca entregaron  en la comunidad de el caracol , San Francisco, San Marcos de Colon juguetes, confites y pinatas a 49 niños de la comunidad.  </p>
      </section>
      
      <section class="ChImagen">
        <div class="ih-item square effect4 ImagenCH"><a class="linfo" href="#">
          <div class="img"><img  src="{% static 'imgs/CH2.jpeg' %}" alt=""></div>
          <div class="mask1"></div>
          <div class="mask2"></div>
          <div class="info">
            <h3>Escuela Dionisio de Herrera</h3>
            <p>Comunidad de "El Caracol"</p>
          </div>
          </a>
        </div>
      
        <div class="ih-item square effect4 ImagenCH"><a class="linfo" href="#">
          <div class="img"><img   src="{% static 'imgs/CH3.jpeg' %}" alt=""></div>
          <div class="mask1"></div>
          <div class="mask2"></div>
          <div class="info">
            <h3>Integrantes de Solidaridad</h3>
            <p>Srita. Stephanie Fonseca e Ing. Victor Marcia </p>
          </div>
          </a>
        </div>

        <div  class="ih-item square effect4 ImagenCH"><a  class="linfo" href="#">
          <div class="img"><img   src="{% static 'imgs/CH4.jpg' %}" alt=""></div>
          <div class="mask1"></div>
          <div class="mask2"></div>
          <div class="info">
            <h3>Alumnos de la institución educativa</h3>
            <p>Alumnos beneficiados por la celebracion del Día del Niño en su Escuela</p>
          </div>
          </a>
        </div>
  
        <div class="ih-item square effect4 ImagenCH"><a class="linfo" href="#">
          <div class="img"><img   src="{% static 'imgs/CH5.jpeg' %}" alt=""></div>
          <div class="mask1"></div>
          <div class="mask2"></div>
          <div class="info">
            <h3>Actividad de Reventar Piñata</h3>
            <p>Los alumnos muy alegres por el momento grato que se vive</p>
          </div>
          </a>
        </div>
      </section>
    </article>
  </div>


  <div id="FranciscoMorazan" class="jumbotron">
    <article  class="DFcoMorazan">
        <br><br><br><br><br><br><br>
      <section class="CHDatos">
        <p ALIGN="justify">SOLIDARIDAD es una organización, sin fines de lucró legalmente constituida liderada por voluntarios que opera principalmente en el departamento de Francisco Morazán. La oficina central en la ciudad de Tegucigalpa desde donde se coordinan las iniciativas del Programa del Centro Nutricional Solidario (CNS ) IZOPO , los voluntariados y todos los programas de la organización a nivel nacional.</p>
      </section>

      <section class="ChImagen">
        <div class="ih-item square effect4 ImagenCH"><a class="linfo" href="#">
          <div class="img"><img  src="{% static 'imgs/FCOM.jpg' %}" alt=""></div>
          <div class="mask1"></div>
          <div class="mask2"></div>
          <div class="info">
            <h3>Celebracion del día del Niño</h3>
            <p>mostrando el amor a nuestra fundación</p>
          </div>
          </a>
        </div>
      
        <div class="ih-item square effect4 ImagenCH"><a class="linfo" href="#">
          <div class="img"><img   src="{% static 'imgs/FCOM2.jpg' %}" alt=""></div>
          <div class="mask1"></div>
          <div class="mask2"></div>
          <div class="info">
            <h3>Dinamicas</h3>
            <p>Realizando dinamicas en el Hospital Escuela</p>
          </div>
          </a>
        </div>
        
        <div  class="ih-item square effect4 ImagenCH"><a  class="linfo" href="#">
          <div class="img"><img   src="{% static 'imgs/FCOM3.jpg' %}" alt=""></div>
          <div class="mask1"></div>
          <div class="mask2"></div>
          <div class="info">
            <h3>Sala de Peditría</h3>
            <p>Los niños reventando piñata en su sala de estadía</p>
          </div>
          </a>
        </div>
  
        <div class="ih-item square effect4 ImagenCH"><a class="linfo" href="#">
          <div class="img"><img   src="{% static 'imgs/FCOM4.jpg' %}" alt=""></div>
          <div class="mask1"></div>
          <div class="mask2"></div>
          <div class="info">
            <h3>Voluntarios</h3>
            <p>Una parte del equipo de voluntarios </p>
          </div>
          </a>
        </div>
      </section>
    </article>
  </div>
  
  <div id="Comayagua" class="jumbotron">
    <article  class="DComayagua">
     <br><br><br> <br> <br><br>
      <section id="COMAY" class="CHDatos">
        <p ALIGN="justify">En diciembre 2017  los voluntarios de Solidaridad Comayagua se hicieron presentes para celebrarle la Navidad a los niños de los diferentes salas del Hospital de Comayagua en donde compartieron alegría,  juguetes y regalos  nuevos.</p>
      </section>

      <section class="ChImagen">
        <div class="ih-item square effect6 from_left_and_right ImagenCH"><a class="linfo" href="#">
          <div class="img"><img  src="{% static 'imgs/COMD.jpg' %}" alt=""></div>
          <div class="mask1"></div>
          <div class="mask2"></div>
          <div class="info">
            <h3>Equipo SOLIDARIDAD</h3>
            <p>Visitando a los niños de la sala de pediatría</p>
          </div>
          </a>
        </div>
      
        <div class="ih-item square effect6 from_left_and_right ImagenCH"><a class="linfo" href="#">
          <div class="img"><img   src="{% static 'imgs/COMD2.jpg' %}" alt=""></div>
          <div class="mask1"></div>
          <div class="mask2"></div>
          <div class="info">
            <h3>Transmitiendo alegría</h3>
            <p>Compañero vestido de payaso para motivar a los niños</p>
          </div>
          </a>
        </div>
        
        <div  class="ih-item square effect6 from_left_and_right ImagenCH"><a class="linfo" href="#">
          <div class="img"><img   src="{% static 'imgs/COMD3.jpg' %}" alt=""></div>
          <div class="mask1"></div>
          <div class="mask2"></div>
          <div class="info">
            <h3>Momentos de Felicidad de los niños</h3>
          </div>
          </a>
        </div>
  
        <div class="ih-item square effect6 from_left_and_right ImagenCH"><a class="linfo" href="#">
          <div class="img"><img   src="{% static 'imgs/COMD4.jpg' %}" alt=""></div>
          <div class="mask1"></div>
          <div class="mask2"></div>
          <div class="info">
            <h3>Refrigerio Impartido</h3>
          </div>
          </a>
        </div>
      </section>
    </article>
  </div>

  <div id="ProximasExtenciones" class="jumbotron">
      <article  class="PEXT">
        <h1>Proximas Extenciones </h1>
        <br>
        <section class="Extenciones">
          <p ALIGN="justify">De acuerdo al plan estratégico de solidaridad para los próximos diez años cada año solidaridad se va expandir en diferentes cabeceras municipales con la meta de lograr tener   representación voluntaria en cada una de los 18 departamentos  para el 2027.   </p>
        </section>
        <br><br><br><br>
      </article>
  </div>



<!-- end normal -->
{% endblock content_out %}