{% extends "base_in.html" %}
{% block titulo %}
	Voluntarios
{% endblock titulo %}
{% block contenidoApp %}
	<div class="row">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Gestión de voluntario</h3>
			</div>
			<div class="panel-body">
				<form style="" action="{% url 'app:guardarVoluntario' %}" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<input type="hidden" value="{{ id }}" name="id_dato">
					<div >
						{{form.usuario}}
						</div>
					<div class="row">
						{% for field in form  %}
							
							{% if field.label != 'Direccion' and  field.label != 'Foto' and field.label != 'Usuario' %}
								<div class="col-md-4">
									<label>{{field.label}}</label>
									{{field}}
								</div>
							{% endif %}
							
						{% endfor %}
						<div class="col-md-4">
							<label>Foto</label>
							{{form.foto}}
						</div>
						<div class="col-md-4">
							<label>Dirección</label>
							{{form.direccion}}
						</div>
					</div>
					<br>
					<div class="col-md-12" style="text-align: right">
						<a href="{% url 'app:voluntarios' %}" class="btn btn-labeled btn-info" style="margin:5px"><span class="btn-label"><i class="glyphicon glyphicon-plus"></i></span>Nuevo</a>
						<button type="submit" class="btn btn-labeled btn-success"><span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>Guardar</button>

					</div>
				</form>
			</div>
			{% if form.errors %}
				<div class="alert alert-danger" style="margin:10px" role="alert"><strong>{{form.errors|title }}</strong></div>
			{% endif %}
			{% if error %}
				<div class="alert alert-danger" style="margin:10px" role="alert"><strong>{{error|title }}</strong></div>
			{% endif %}
			
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Listado de voluntarios</h3>
			</div>
			<!-- <div class="panel-body">
							<p>...</p>
			</div> -->
			<div class="tablas_registros" class="table-responsive1">
				<br>
				<table id="tb" class="table table-striped table-hover">
					<thead>
						<tr>
							<th>#</th>
							<th width="100px">Identidad</th>
							<th width="100px">Nombre</th>
							<th>Teléfono</th>
							<th>Correo</th>
							<th>Sexo</th>
							<th>Departamento</th>
							<th>Tipo</th>
							<th>Estado</th>
							<th>Usuario</th>
							<th style="width:200px">Acciones</th>
						</tr>
					</thead>
					<tbody id="filas">
						{% for v in voluntarios  %}
							<tr {% if not v.estado  %} class="danger" {% else %} class="success" {% endif %} >
							<td>{{forloop.counter}}</td>
							<td>{{ v.identidad }}</td>
							<td>{{ v.nombre }} {{ v.apellido }}</td>
							<td>{{ v.telefono }}</td>
							<td>{{ v.correo }}</td>
							<td>{{v.sexo}}</td>
							<td>{{ v.depto }}</td>
							<td>{{ v.tipo }}</td>
							<td>
								{% if  v.estado  %}
									Activo
								{% else %}
									Inactivo
								{% endif %}
							</td>
							<td>{{ v.usuario }}</td>
							<td><a class="btn btn-primary" href="{% url 'app:editarVoluntario' v.pk %}">Editar</a>
								<a class="btn btn-danger" id="delete_a" href="{% url 'app:eliminarVoluntario' v.pk %}">Eliminar</a>
								<a class="btn btn-warning" id="delete_a" href="{% url 'app:usuario' v.usuario.pk %}">Usuario</a></td>

						</tr>
					{% endfor %}
				</tbody>
				
			</table>
		</div>
	</div>
	
</div>
{% endblock contenidoApp %}
{% block script %}
	<script>

		$('#delete_a').on('click', function(){
			return confirm('¿Esta seguro de eliminar el registro?');
		})
		{% if error or form.errors %}
			$.notify("Error al guardar el registro",{ 
				className: 'error',
				globalPosition:"right bottom", 
				clickToHide: true,
			  	autoHide: true,
			 	autoHideDelay: 5000,
			 	arrowShow: true,
			 	arrowSize: 5,
			 	style: 'bootstrap',
			 	showAnimation: 'slideDown',
			 	showDuration: 400,
			 	hideAnimation: 'slideUp',
			 	hideDuration: 200,
			 	gap: 2
			});
		{% endif %}
		{% if exito %}
			$.notify('{{exito}}', 
			{ 
				className: 'success',
				globalPosition:"right bottom", 
				clickToHide: true,
			  	autoHide: true,
			 	autoHideDelay: 5000,
			 	arrowShow: true,
			 	arrowSize: 5,
			 	style: 'bootstrap',
			 	showAnimation: 'slideDown',
			 	showDuration: 400,
			 	hideAnimation: 'slideUp',
			 	hideDuration: 200,
			 	gap: 2
			});
			//$.notify('{{exito}}', "success", { position:"right bottom" });
			//$.notify("Access granted", "info");
			//$.notify("Warning: Self-destruct in 3.. 2..", "warn");
		{% endif %}

		var tablex = $('#tb').DataTable({
	/*			 dom: 'Bfrtip',*/
				 lengthChange: false,
        		 buttons: [ 'copy', 'excel', 'pdf', 'colvis',  {
		                extend: 'pdfHtml5',
		                download: 'open',
		                orientation: 'landscape',
		                pageSize: 'LEGAL',
		                text: 'Ver',
		                title: 'Reporte de voluntarios'
		            }],
			 	 "scrollX": true,
			 	  "language": {
		            "lengthMenu": "Mostrar _MENU_ por páginas",
		            "zeroRecords": "No se encontró ningún registro",
		            "info": "Mostrando página _PAGE_ de _PAGES_",
		            "infoEmpty": "Registro no valido",
		            "infoFiltered": "(filtrado de _MAX_ registros totales)",
		            'search': 'Buscar:'
		            /*'search': 'Buscar: _INPUT_ aqui'*/,
		             "paginate": {
					      "next": "Siguiente",
					      'previous': 'Anterior'
				 	},
				 	buttons: {
		                colvis: 'Columnas visibles',
		                copy: 'Copiar'
		            }
				 }
			 });

			 tablex.buttons().container()
       		 .appendTo( '#tb_wrapper .col-sm-6:eq(0)' );
	</script>
{% endblock script %}